<style>
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 20px 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
    }
</style>


<section id="TeamSection" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %> ;">
    <div id="Navbar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: <%= @team.color %>;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navItems">
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-people-group"></i>
                        <%= active_link_to 'Team', "/teams/#{@team.id}", active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-basketball"></i>
                        <%= active_link_to 'Matches', '/matches', active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-newspaper"></i>
                        <%= active_link_to 'News', '/news', active: :exclusive, class: 'navElement' %>
                    </li>

                    <li>
                        <%= active_link_to(user_dashboard_path) do %>
                        <img id="logoTeamNav" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
                        <% end %>
                    </li>

                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-trophy"></i>
                        <%= active_link_to 'League', '/league', active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-cart-shopping"></i>
                        <%= active_link_to 'Shop', '/shop', active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <%= active_link_to 'Profile', '/profile', active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row introTeam">
            <div class="col-12 col-sm-12 col-md-4">
                <img id="logoTeam" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
            </div>
            <div class="col-12 col-sm-12 col-md-8">
                <div class="row">
                    <div id="nameTeam"><%= @team.name %></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-2">
                        <div id="nbaChampionships">
                            <%= image_tag('trophy.png', id: 'imageTeam') %>
                        </div>
                    </div>
                    <div class="col-12 col-sm-7 colText">
                        <div id="nbaChampionships">
                            <div class="introSub"><%= @nba_won %> x NBA Champions</div>
                            <div class="introSub"><%= @conference_won %> x Conference Champions</div>
                            <div class="introSub"><%= @division_won %> x Division Champions</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="teamTitle">Roster</div>
        </div>

        <div class="row" style="justify-content: center;">
            <div class="cardList">
                <% @roster.each do |player| %>
                    <%= link_to player_url(player[:id]), class: "playerLink" do %>
                        <div class="playerCard" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).lighten_by(80).html %>">
                            <img style="width: 9rem;" src="https://cdn.nba.com/headshots/nba/latest/1040x760/<%= player[:id] %>.png" onerror="this.src='https://cdn.nba.com/headshots/nba/latest/1040x760/fallback.png';"/>
                            <div class="playerName">
                                <%= player[:name] %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="teamTitle">Hall of fame</div>
        </div>

        <div class="row hofTeam" style="justify-content: center;">
            <div class="cardList">
                <% @hof_players.each do |player| %>
                    <%= link_to player_url(player[:id]), class: "playerLink"  do %>
                        <div class="playerCard" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).lighten_by(80).html %>">
                            <img style="width: 9rem;" src="https://cdn.nba.com/headshots/nba/latest/1040x760/<%= player[:id] %>.png" onerror="this.src='https://cdn.nba.com/headshots/nba/latest/1040x760/fallback.png';"/>
                            <div class="playerName">
                                <%= player[:name] %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>

        <%= link_to 'Back', user_dashboard_path %>
    </div>

</section>
