

<section id="TeamSection" style="background-color: <%= @team.color %>;">
<p id="notice"><%= notice %></p>


    <div class="container">
        <div class="row introTeam">
            <div class="col-4">
                <img id="logoTeam" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
            </div>
            <div class="col-8">
                <div class="row">
                    <div id="nameTeam"><%= @team.name %></div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <div id="nbaChampionships">
                            <%= image_tag('trophy.png', id: 'imageTeam') %>
                        </div>
                    </div>
                    <div class="col-7">
                        <div id="nbaChampionships">
                            <div class="introSub"><%= @nba_won %> x NBA Champions</div>
                            <div class="introSub"><%= @conference_won %> x Conference Champions</div>
                            <div class="introSub"><%= @division_won %> x Division Champions</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="teamTitle">Roster</div>
        </div>

        <div class="row">
            <div class="cardList">
                <% @roster.each do |player| %>
                    <div class="playerCard" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).lighten_by(80).html %>">
                        <img style="width: 9rem;" src="https://cdn.nba.com/headshots/nba/latest/1040x760/<%= player[:id] %>.png" onerror="this.src='https://cdn.nba.com/headshots/nba/latest/1040x760/fallback.png';"/>
                        <div class="playerName">
                            <%= player[:name] %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="row ">
            <div class="teamTitle">Hall of fame</div>
        </div>

        <div class="row hofTeam">
            <div class="cardList">
                <% @hof_players.each do |player| %>
                    <div class="playerCard" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).lighten_by(80).html %>">
                        <img style="width: 9rem;" src="https://cdn.nba.com/headshots/nba/latest/1040x760/<%= player[:id] %>.png" onerror="this.src='https://cdn.nba.com/headshots/nba/latest/1040x760/fallback.png';"/>
                        <div class="playerName">
                            <%= player[:name] %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        

        <%= link_to 'Edit', edit_team_path(@team) %> |
        <%= link_to 'Back', teams_path %>
    </div>
    
</section>
