
<div id="homePage" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">

<style>
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 20px 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
    }
</style>

    <div id="Navbar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: <%= @team.color %>;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navItems">
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-people-group"></i>
                        <%= active_link_to 'Team', "/teams/#{@team.id}", active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-basketball"></i>
                        <%= active_link_to 'Matches', matches_url(number: 3), active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-newspaper"></i>
                        <%= active_link_to 'News', articles_url, active: :exclusive, class: 'navElement' %>
                    </li>
                    <li>
                        <%= active_link_to(user_dashboard_path) do %>
                        <img id="logoTeamNav" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
                        <% end %>
                    </li>

                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-trophy"></i>
                        <%= active_link_to 'League', '/league', active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-cart-shopping"></i>
                        <%= active_link_to 'Shop', "https://www.nbastore.eu/en/#{@team.name.downcase.gsub(' ', '-')}", active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <%= active_link_to 'Profile', user_path(id: session[:user_id]), active: :exclusive, class: 'navElement' %>  
                    </li>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container infoContainer">
        <div class="row infoContainerRow" >
            <div class="col" style="justify-content: center; display:flex;">
                <div class="container" style="display: flex; flex-direction:column; justify-content: space-between;">
                    <div class="row">
                        <div class="col" style="justify-content: center; display:flex;">
                            <div class="matchSection" style="background-color: <%= @team.color %>;">
                                <div class="container-fluid" style="padding: 0;">
                                    <div class="row">
                                        <div class="col">
                                            <div class="boxTitle">
                                                <span class="sectionTitle">Featured Match</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="align-items: center;">
                                        <div class="col">
                                            <img class="logoTeam" src="https://cdn.nba.com/logos/nba/<%= @matches_schedule[0][:home_team].api %>/primary/L/logo.svg" />
                                            <div class="teamName"><%= @matches_schedule[0][:home_team].name %></div>
                                        </div>
                                        <div class="col">
                                            <div class="matchInfo">
                                                <div class="matchDateTime"><%= @matches_schedule[0][:game_date] %></div>
                                                <div class="matchPoints"><%= @matches_schedule[0][:home_points] %> - <%= @matches_schedule[0][:away_points] %></div>
                                                <%= link_to  match_path(id: @matches_schedule[0][:game_id]), class: "matchLink" do %>
                                                <div class="matchDetails" id="matchDets">
                                                    Details               
                                                </div>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img class="logoTeam" src="https://cdn.nba.com/logos/nba/<%= @matches_schedule[0][:away_team].api %>/primary/L/logo.svg" />
                                            <div class="teamName"><%= @matches_schedule[0][:away_team].name %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col" style="justify-content: center; display:flex;">
                            <div class="articleSection" style="background-color: <%= @team.color %>;">
                    <div class="container-fluid" style="padding: 0;">
                        <div class="row">
                            <div class="col">
                                <div class="boxTitle">
                                    <span class="sectionTitle">Latest News</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="align-items: center;">
                            <div class="col">
                                <div class="newsArticle">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <%= image_tag('news.png', id: 'imageArticle') %>
                                            </div>
                                            <div class="col-8" style="align-content: center; text-align:left;">
                                                <div class="articleTitle">Jontay Porter to Bulls?</div>
                                                <div class="authorInfo">Federico Gerardi - 15/03/24</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row" style="align-items: center;">
                            <div class="col">
                                <div class="newsArticle">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <%= image_tag('news.png', id: 'imageArticle') %>
                                            </div>
                                            <div class="col-8" style="align-content: center; text-align:left;">
                                                <div class="articleTitle">Jontay Porter to Bulls?</div>
                                                <div class="authorInfo">Federico Gerardi - 15/03/24</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="align-items: center;">
                            <div class="col">
                                <div class="newsArticle">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <%= image_tag('news.png', id: 'imageArticle') %>
                                            </div>
                                            <div class="col-8" style="align-content: center; text-align:left;">
                                                <div class="articleTitle">Jontay Porter to Bulls?</div>
                                                <div class="authorInfo">Federico Gerardi - 15/03/24</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="align-items: center;">
                            <div class="col" style="display: flex; justify-content:center;">
                                <div class="newsDetails">
                                        <%= active_link_to 'More', '/news', active: :exclusive, class: 'matchDetails', id:'matchDets' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="col" style="justify-content: center; display:flex; align-items:center;">
                <div class="row infoContainerMatchesRow">
                    <div class="col" style="justify-content: center; display:flex;">
                        <div class="pastMatches" style="background-color: <%= @team.color %>;">
                            <div class="container-fluid" style="padding: 0;">
                                <div class="row">
                                    <div class="">
                                        <div class="boxTitle">
                                            <i class="sectionTitle fa-solid fa-calendar-days"></i>
                                            <span class="sectionTitle">Past Matches</span>
                                            <i class="sectionTitle fa-solid fa-calendar-days"></i>
                                        </div>
                                    </div>
                                    
                                </div>
                                <% @matches_schedule[1..].each do |match|  %>
                                    <div class="row" style="align-items: center;">
                                        <div class="col" style="margin: 4vh;">
                                            <div class="container pastMatchContainer" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">
                                                <%= link_to match_path(id: match[:game_id]), class: "matchLink" do %>
                                                <div class="matchDate"><%= match[:game_date] %></div>
                                                <div id="rowBreak" class="row" style="align-items: center;">
                                                    <div class="col firstTeam">
                                                        <img class="logoTeamPast" src="https://cdn.nba.com/logos/nba/<%= match[:home_team].api %>/primary/L/logo.svg" />
                                                    </div>
                                                    <div class="col" style="text-align: center;">
                                                        <div class="matchScore">
                                                            <div class="matchPoints"><%= match[:home_points] %>:<%= match[:away_points] %></div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <img class="logoTeamPast" src="https://cdn.nba.com/logos/nba/<%= match[:away_team].api %>/primary/L/logo.svg" />
                                                    </div>
                                                    
                                                </div>
                                            <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                        
            </div>
        </div>
       
    </div>
</div>
