
<div id="homePage" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">

<style>
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 20px 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
    }
</style>

    <div id="Navbar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: <%= @team.color %>;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navItems">
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-people-group"></i>
                        <%= active_link_to 'Team', "/teams/#{@team.id}", active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-basketball"></i>
                        <%= active_link_to 'Matches', matches_url(number: 3), active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-newspaper"></i>
                        <%= active_link_to 'News', articles_url, active: :exclusive, class: 'navElement' %>
                    </li>
                    <li>
                        <%= active_link_to(user_dashboard_path) do %>
                        <img id="logoTeamNav" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
                        <% end %>
                    </li>

                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-trophy"></i>
                        <%= active_link_to 'League', '/league', active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-cart-shopping"></i>
                        <%= active_link_to 'Shop', "https://www.nbastore.eu/en/#{@team.name.downcase.gsub(' ', '-')}", active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <%= active_link_to 'Profile', user_path(id: session[:user_id]), active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>
    <% if Rails.env.test? %>

    <% else %>

    <div class="container infoContainer">
        <div class="row infoContainerRow" >
            <div class="col" style="justify-content: center; display:flex;">
                <div class="container" style="display: flex; flex-direction:column; justify-content: space-between;">
                    <div class="row">
                        <div class="col" style="justify-content: center; display:flex;">
                            <div class="matchSection" style="background-color: <%= @team.color %>;">
                                <div class="container-fluid" style="padding: 0;">
                                    <div class="row">
                                        <div class="col">
                                            <div class="boxTitle">
                                                <span class="sectionTitle">Featured Match</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="align-items: center;">
                                        <div class="col">
                                            <img class="logoTeam" src="https://cdn.nba.com/logos/nba/<%= @matches_schedule[0][:home_team].api %>/primary/L/logo.svg" />
                                            <div class="teamName"><%= @matches_schedule[0][:home_team].name %></div>
                                        </div>
                                        <div class="col">
                                            <div class="matchInfo">
                                                <div class="matchDateTime"><%= @matches_schedule[0][:game_date] %></div>
                                                <div class="matchPoints"><%= @matches_schedule[0][:home_points] %> - <%= @matches_schedule[0][:away_points] %></div>
                                                <%= link_to  match_path(id: @matches_schedule[0][:game_id]), class: "matchLink" do %>
                                                <div class="matchDetails" id="matchDets">
                                                    Details
                                                </div>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <img class="logoTeam" src="https://cdn.nba.com/logos/nba/<%= @matches_schedule[0][:away_team].api %>/primary/L/logo.svg" />
                                            <div class="teamName"><%= @matches_schedule[0][:away_team].name %></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col" style="justify-content: center; display:flex;">
                            <% if @user.type != "Journalist" %>
                            <div class="articleSection" style="background-color: <%= @team.color %>;">
                                <div class="container-fluid" style="padding: 0;">
                                    <div class="row">
                                        <div class="col">
                                            <div class="boxTitle">
                                                <span class="sectionTitle">Latest News</span>
                                            </div>
                                        </div>
                                    </div>
                                    <% @articles.each do |article| %>
                                    <div class="row" style="align-items: center;">
                                        <div class="col">
                                            <div class="newsArticle">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <% if article.image.attached? %>
                                                                <%= image_tag article.image, id: 'imageArticle' %>
                                                            <% else %>
                                                                <img src="https://via.placeholder.com/150" id="imageArticle" />
                                                            <% end %>

                                                        </div>
                                                        <div class="col-8" style="align-content: center; text-align:left;">
                                                            <div class="articleTitle"><%= link_to article.title, article_path(article), style: "color: white;" %></div>
                                                            <div class="authorInfo"><%= link_to article.user.name, user_path(article.user), style: "color: white;" %> - <%= article.created_at %></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <% end %>
                                    <div class="row" style="align-items: center;">
                                        <div class="col" style="display: flex; justify-content:center;">
                                            <div class="newsDetails">
                                                <%= active_link_to 'More', articles_path , active: :exclusive, class: 'matchDetails', id:'matchDets' %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% elsif @user.type == "Journalist" %>
                            <div class="articleSection" style="background-color: <%= @team.color %>;">
                                <div class="container-fluid" style="padding: 0;">
                                    <div class="row">
                                        <div class="col">
                                            <div class="boxTitle">
                                                <span class="sectionTitle">The Job</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="align-items: center;">
                                        <div class="col">
                                            <div class="newsArticle">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-8" style="align-content: center; text-align:left;">
                                                            <div class="articleTitle">Drafts</div>

                                                            <div class="drafts">
                                                                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#draftModal">
                                                                    Drafts
                                                                </button>

                                                                <%= link_to 'New Article', new_article_path, class: "btn btn-light" %>

                                                                <div class="modal fade" id="draftModal" tabindex="-1" aria-labelledby="draftModalLabel" aria-hidden="true" >
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content" style="background-color: <%= @team.color %>;">
                                                                            <div class="modal-header">
                                                                                <h1 class="modal-title fs-5" id="draftModalLabel">Your Drafts</h1>
                                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <% @drafts.each do |draft| %>
                                                                                    <div class="row" style="justify-content: center; align-items:center;">
                                                                                        <div class="col-8">
                                                                                            <h5><%= draft.title %></h5>
                                                                                            <p><%= draft.content %></p>
                                                                                        </div>
                                                                                        <div class="col-4" style="text-align: center;">
                                                                                            <%= link_to 'Edit', edit_article_path(draft), class: "btn btn-light" %>
                                                                                            <%= link_to 'X', delete_article_path(draft), data: { confirm: 'Are you sure?' }, class: "btn btn-light" %>
                                                                                        </div>
                                                                                    </div>
                                                                                    <hr>
                                                                                <% end %>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col" style="justify-content: center; display:flex; align-items:center;">
                <div class="row infoContainerMatchesRow">
                    <div class="col" style="justify-content: center; display:flex;">
                        <div class="pastMatches" style="background-color: <%= @team.color %>;">
                            <div class="container-fluid" style="padding: 0;">
                                <div class="row">
                                    <div class="">
                                        <div class="boxTitle">
                                            <i class="sectionTitle fa-solid fa-calendar-days"></i>
                                            <span class="sectionTitle">Past Matches</span>
                                            <i class="sectionTitle fa-solid fa-calendar-days"></i>
                                        </div>
                                    </div>

                                </div>
                                <% @matches_schedule[1..].each do |match|  %>
                                    <div class="row" style="align-items: center;">
                                        <div class="col" style="margin: 4vh;">
                                            <div class="container pastMatchContainer" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">
                                                <%= link_to match_path(id: match[:game_id]), class: "matchLink" do %>
                                                <div class="matchDate"><%= match[:game_date] %></div>
                                                <div id="rowBreak" class="row" style="align-items: center;">
                                                    <div class="col firstTeam">
                                                        <img class="logoTeamPast" src="https://cdn.nba.com/logos/nba/<%= match[:home_team].api %>/primary/L/logo.svg" />
                                                    </div>
                                                    <div class="col" style="text-align: center;">
                                                        <div class="matchScore">
                                                            <div class="matchPoints"><%= match[:home_points] %>:<%= match[:away_points] %></div>

                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <img class="logoTeamPast" src="https://cdn.nba.com/logos/nba/<%= match[:away_team].api %>/primary/L/logo.svg" />
                                                    </div>

                                                </div>
                                            <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <% end %>
</div>
