<h1>Standings</h1>

<% @standings.each do |team| %>
<h4><%= team[:team_name] %>: <%= team[:wins] %>/<%= team[:losses] %> = <%= team[:win_pct] %> - <%= team[:str_current_streak] %></h4>
<% end %>

<h1>Top Players</h1>

<% @leaders.each do |player| %>
<h4><%= player[:player] %>: <%= player[:team] %></h4>
<% end %>
