<div id="editPasswordContainer" style="background-color: black; padding: 5vh 0 60vh 0">

  <h2 class="text-center my-4">Edit Password</h2>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>

          <!-- Password corrente -->
          <div class="form-group my-3">
            <%= f.label :current_password, "Current Password", class: 'form-label' %>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Insert current password" %>
          </div>

          <!-- Nuova password -->
          <div class="form-group my-3">
            <%= f.label :password, "New Password", class: 'form-label' %>
            <small class="text-muted">(leave empty if you dont want to change it)</small>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Insert new password" %>
          </div>

          <!-- Conferma nuova password -->
          <div class="form-group my-3">
            <%= f.label :password_confirmation, "Confirm Password", class: 'form-label' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation" %>
          </div>

          <!-- Pulsante aggiorna -->
          <div class="form-group text-center my-4">
            <%= f.submit "Edit", class: "btn btn-primary w-100" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
