

    <div id="userFormPage" style="background-color: black;padding-top: 8vh;">
        <style>
            body.index-home {
                background-color: black;
            }
            ::-webkit-scrollbar {
                width: 10px;
            }

            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px white;
            }

            ::-webkit-scrollbar-thumb {
                background-color: black;
            }
        </style>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="content landingTitle" style="text-align: left;margin-left: 4vh;padding-bottom: 3vh;">
                        J<span style="color: orange;">o</span>in the <span style="color: red;">z</span><span style="color: blue;">o</span>ne


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container" style="background: #2B2B2B; border-radius:40px; padding: 4vh">
                        <div class="row">
                            <div class="col">
                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |form| %>
                                    <div class="content">

                                        <%= form.hidden_field :provider, value: 'email' %>

                                        <div class="field">
                                            <%= form.label :name %>
                                            <%= form.text_field :name, class: "form-control" %>
                                        </div>

                                        <div class="field">
                                            <%= form.label :photo %>
                                            <%= form.file_field :photo, class: "form-control" %>
                                        </div>

                                        <div class="field">
                                            <%= form.label :bio %>
                                            <%= form.text_field :bio, class: "form-control", rows: 3 %>
                                        </div>


                                            <div class="field">
                                                <%= form.label :email %>
                                                <%= form.email_field :email, class: "form-control" %>
                                            </div>

                                            <div class="field">
                                                <%= form.label :password %>
                                                <div class="input-group">
                                                    <%= form.password_field :password, id: "password", autocomplete: "off", class: "form-control", pattern: "(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", title: "Must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters" %>
                                                    <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password')">Show</button>
                                                </div>
                                            </div>

                                            <div class="field">
                                                <%= form.label :password_confirmation %>
                                                <div class="input-group">
                                                    <%= form.password_field :password_confirmation, id: "password_confirmation", class: "form-control" %>
                                                    <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password_confirmation')">Show</button>
                                                </div>
                                            </div>


                                            <div id="teamSelectorButton" class="teamSelector" data-bs-toggle="modal" data-bs-target="#teamSelectorModal" style="margin-top: 3vh; margin-bottom:1vh;cursor:pointer; border: 2px solid; width:40%; height:6vh; display:flex; border-radius:40px; justify-content: center;align-items: center;">Choose your Team!</div>

                                    </div>

                                    <hr>

                                    <div class="modal fade" id="teamSelectorModal" tabindex="-1" aria-labelledby="teamSelectorModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" style="max-width: 1800px;">
                                            <div class="modal-content" style="background: none; border:none">
                                                <div class="container-fluid">
                                                    <div class="row" style="justify-content: space-around;">
                                                        <div class="col-md-12 col-lg-5">
                                                            <div class="landingTitle">EAST</div>
                                                            <div class="container" style="background: #5f5f5f96;padding: 3vh; text-align:center; border-radius: 40px;">
                                                                <div class="row">
                                                                    <% teams = [
                                                                        { id: 1, name: 'Atlanta Hawks', logo: 'https://cdn.nba.com/logos/nba/1610612737/primary/L/logo.svg' },
                                                                        { id: 2, name: 'Boston Celtics', logo: 'https://cdn.nba.com/logos/nba/1610612738/primary/L/logo.svg' },
                                                                        { id: 3, name: 'Brooklyn Nets', logo: 'https://cdn.nba.com/logos/nba/1610612751/primary/L/logo.svg' },
                                                                        { id: 4, name: 'Charlotte Hornets', logo: 'https://cdn.nba.com/logos/nba/1610612766/primary/L/logo.svg' },
                                                                        { id: 5, name: 'Chicago Bulls', logo: 'https://cdn.nba.com/logos/nba/1610612741/primary/L/logo.svg' },
                                                                        { id: 6, name: 'Cleveland Cavaliers', logo: 'https://cdn.nba.com/logos/nba/1610612739/primary/L/logo.svg' },
                                                                        { id: 9, name: 'Detroit Pistons', logo: 'https://cdn.nba.com/logos/nba/1610612765/primary/L/logo.svg' },
                                                                        { id: 12, name: 'Indiana Pacers', logo: 'https://cdn.nba.com/logos/nba/1610612754/primary/L/logo.svg' },
                                                                        { id: 16, name: 'Miami Heat', logo: 'https://cdn.nba.com/logos/nba/1610612748/primary/L/logo.svg' },
                                                                        { id: 17, name: 'Milwaukee Bucks', logo: 'https://cdn.nba.com/logos/nba/1610612749/primary/L/logo.svg' },
                                                                        { id: 20, name: 'New York Knicks', logo: 'https://cdn.nba.com/logos/nba/1610612752/primary/L/logo.svg' },
                                                                        { id: 22, name: 'Orlando Magic', logo: 'https://cdn.nba.com/logos/nba/1610612753/primary/L/logo.svg' },
                                                                        { id: 23, name: 'Philadelphia 76ers', logo: 'https://cdn.nba.com/logos/nba/1610612755/primary/L/logo.svg' },
                                                                        { id: 28, name: 'Toronto Raptors', logo: 'https://cdn.nba.com/logos/nba/1610612761/primary/L/logo.svg' },
                                                                        { id: 30, name: 'Washington Wizards', logo: 'https://cdn.nba.com/logos/nba/1610612764/primary/L/logo.svg' }
                                                                    ] %>
                                                                    <% teams.each_slice(3) do |team_slice| %>
                                                                        <div class="row">
                                                                            <% team_slice.each do |team| %>
                                                                                <div class="col-4" data-bs-dismiss="modal" style="padding: 1vh;">
                                                                                    <%= image_tag(team[:logo], id: "imageTeam#{team[:id]}", class: 'team-image', data: { team_id: team[:id] }, style: "width:7rem; cursor: pointer;") %>
                                                                                    <div><%= team[:name] %></div>
                                                                                </div>
                                                                            <% end %>
                                                                        </div>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12 col-lg-5">
                                                            <div class="landingTitle">WEST</div>
                                                            <div class="container" style="background: #5f5f5f96;padding: 3vh; text-align:center; border-radius: 40px;">
                                                                <div class="row">
                                                                    <% teams = [
                                                                        { id: 7, name: 'Dallas Mavericks', logo: 'https://cdn.nba.com/logos/nba/1610612742/primary/L/logo.svg' },
                                                                        { id: 8, name: 'Denver Nuggets', logo: 'https://cdn.nba.com/logos/nba/1610612743/primary/L/logo.svg' },
                                                                        { id: 10, name: 'Golden State Warriors', logo: 'https://cdn.nba.com/logos/nba/1610612744/primary/L/logo.svg' },
                                                                        { id: 11, name: 'Houston Rockets', logo: 'https://cdn.nba.com/logos/nba/1610612745/primary/L/logo.svg' },
                                                                        { id: 13, name: 'LA Clippers', logo: 'https://cdn.nba.com/logos/nba/1610612746/primary/L/logo.svg' },
                                                                        { id: 14, name: 'Los Angeles Lakers', logo: 'https://cdn.nba.com/logos/nba/1610612747/primary/L/logo.svg' },
                                                                        { id: 15, name: 'Memphis Grizzlies', logo: 'https://cdn.nba.com/logos/nba/1610612763/primary/L/logo.svg' },
                                                                        { id: 18, name: 'Minnesota Timberwolves', logo: 'https://cdn.nba.com/logos/nba/1610612750/primary/L/logo.svg' },
                                                                        { id: 19, name: 'New Orleans Pelicans', logo: 'https://cdn.nba.com/logos/nba/1610612740/primary/L/logo.svg' },
                                                                        { id: 21, name: 'Oklahoma City Thunder', logo: 'https://cdn.nba.com/logos/nba/1610612760/primary/L/logo.svg' },
                                                                        { id: 24, name: 'Phoenix Suns', logo: 'https://cdn.nba.com/logos/nba/1610612756/primary/L/logo.svg' },
                                                                        { id: 25, name: 'Portland Trail Blazers', logo: 'https://cdn.nba.com/logos/nba/1610612757/primary/L/logo.svg' },
                                                                        { id: 26, name: 'Sacramento Kings', logo: 'https://cdn.nba.com/logos/nba/1610612758/primary/L/logo.svg' },
                                                                        { id: 27, name: 'San Antonio Spurs', logo: 'https://cdn.nba.com/logos/nba/1610612759/primary/L/logo.svg' },
                                                                        { id: 29, name: 'Utah Jazz', logo: 'https://cdn.nba.com/logos/nba/1610612762/primary/L/logo.svg' }
                                                                    ] %>
                                                                    <% teams.each_slice(3) do |team_slice| %>
                                                                        <div class="row">
                                                                            <% team_slice.each do |team| %>
                                                                                <div class="col-4" data-bs-dismiss="modal" style="padding: 1vh;">
                                                                                    <%= image_tag(team[:logo], id: "imageTeam#{team[:id]}", class: 'team-image', data: { team_id: team[:id] }, style: "width:7rem; cursor: pointer;") %>
                                                                                    <div><%= team[:name] %></div>
                                                                                </div>
                                                                            <% end %>
                                                                        </div>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <%= form.hidden_field :team_id, id: 'selectedTeamId' %>


                                    <div class="actions contnet" style="text-align: right;">
                                        <%= form.submit class: "btn btn-light content" %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col content" style="text-align: center; display:flex; align-items:center; justify-content:end">
                    <%= image_tag('logo.png', id: 'imageTeam', style: "width:35rem") %>
                </div>
            </div>
        </div>
    </div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        const teamSelectorButton = document.getElementById('teamSelectorButton');
        const content = document.querySelectorAll('.content');
        const logoSection = document.getElementById('imageTeam');

        teamSelectorButton.addEventListener('click', function() {
            content.forEach(element => {
                element.classList.add('blurred');
            });
        });

        const teamImages = document.querySelectorAll('.team-image');
        const selectedTeamIdInput = document.getElementById('selectedTeamId');

        const teamLogos = {
            1: 'https://cdn.nba.com/logos/nba/1610612737/primary/L/logo.svg',
            2: 'https://cdn.nba.com/logos/nba/1610612738/primary/L/logo.svg',
            3: 'https://cdn.nba.com/logos/nba/1610612751/primary/L/logo.svg',
            4: 'https://cdn.nba.com/logos/nba/1610612766/primary/L/logo.svg',
            5: 'https://cdn.nba.com/logos/nba/1610612741/primary/L/logo.svg',
            6: 'https://cdn.nba.com/logos/nba/1610612739/primary/L/logo.svg',
            7: 'https://cdn.nba.com/logos/nba/1610612742/primary/L/logo.svg',
            8: 'https://cdn.nba.com/logos/nba/1610612743/primary/L/logo.svg',
            9: 'https://cdn.nba.com/logos/nba/1610612765/primary/L/logo.svg',
            10: 'https://cdn.nba.com/logos/nba/1610612744/primary/L/logo.svg',
            11: 'https://cdn.nba.com/logos/nba/1610612745/primary/L/logo.svg',
            12: 'https://cdn.nba.com/logos/nba/1610612754/primary/L/logo.svg',
            13: 'https://cdn.nba.com/logos/nba/1610612746/primary/L/logo.svg',
            14: 'https://cdn.nba.com/logos/nba/1610612747/primary/L/logo.svg',
            15: 'https://cdn.nba.com/logos/nba/1610612763/primary/L/logo.svg',
            16: 'https://cdn.nba.com/logos/nba/1610612748/primary/L/logo.svg',
            17: 'https://cdn.nba.com/logos/nba/1610612749/primary/L/logo.svg',
            18: 'https://cdn.nba.com/logos/nba/1610612750/primary/L/logo.svg',
            19: 'https://cdn.nba.com/logos/nba/1610612740/primary/L/logo.svg',
            20: 'https://cdn.nba.com/logos/nba/1610612752/primary/L/logo.svg',
            21: 'https://cdn.nba.com/logos/nba/1610612760/primary/L/logo.svg',
            22: 'https://cdn.nba.com/logos/nba/1610612753/primary/L/logo.svg',
            23: 'https://cdn.nba.com/logos/nba/1610612755/primary/L/logo.svg',
            24: 'https://cdn.nba.com/logos/nba/1610612756/primary/L/logo.svg',
            25: 'https://cdn.nba.com/logos/nba/1610612757/primary/L/logo.svg',
            26: 'https://cdn.nba.com/logos/nba/1610612758/primary/L/logo.svg',
            27: 'https://cdn.nba.com/logos/nba/1610612759/primary/L/logo.svg',
            28: 'https://cdn.nba.com/logos/nba/1610612761/primary/L/logo.svg',
            29: 'https://cdn.nba.com/logos/nba/1610612762/primary/L/logo.svg',
            30: 'https://cdn.nba.com/logos/nba/1610612764/primary/L/logo.svg'
                     

        };

        teamImages.forEach(image => {
            image.addEventListener('click', function() {
                const teamId = this.dataset.teamId;
                selectedTeamIdInput.value = teamId;

                if (teamLogos[teamId]) {
                    logoSection.src = teamLogos[teamId];
                } else {
                    alert('Please select a team!');
                }

                // Optionally, close the modal after selection
                const modal = bootstrap.Modal.getInstance(document.getElementById('teamSelectorModal'));
                modal.hide();
                content.forEach(element => {
                    element.classList.remove('blurred');
                });
            });
        });

        const modalElement = document.getElementById('teamSelectorModal');
        modalElement.addEventListener('hidden.bs.modal', function () {
            content.forEach(element => {
                element.classList.remove('blurred');
            });
        });

    });

    function togglePasswordVisibility(fieldId) {
        var field = document.getElementById(fieldId);
        var button = field.nextElementSibling;
        if (field.type === "password") {
            field.type = "text";
            button.textContent = "Hide";
        } else {
            field.type = "password";
            button.textContent = "Show";
        }
    }

    const form = document.querySelector('form');
        form.onsubmit = function(event) {
            const selectedTeamId = document.getElementById('selectedTeamId').value;
            if (!selectedTeamId) {
                alert('Please select a team before submitting the form.');
                event.preventDefault(); // Prevent form submission
            }
        };
</script>

<style>
    .blurred {
        filter: blur(5px);
    }
</style>
