<p id="notice"><%= notice %></p>

<h1>Journalist</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Color</th>
      <th>Api</th>
      <th>Email</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journalist.each do |journalist| %>
      <tr>
        <td><img src="https://cdn.nba.com/logos/nba/<%= Team.find(journalist.team_id).api %>/primary/L/logo.svg" /></td>
        <td><%= Team.find(journalist.team_id).name %></td>
        <td><%= Team.find(journalist.team_id).color %></td>
        <td><%= Team.find(journalist.team_id).api %></td>
        <td><%= journalist.email %></td>
        <td><%= journalist.name %></td>
        <td><%= link_to 'Show', Team.find(journalist.team_id) %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Back', user_dashboard_path %>
</table>
