<!-- app/views/journalist_requests/index.html.erb -->
<h1>Gestione delle Richieste di Diventare Giornalista</h1>

<table class="table">
  <thead>
    <tr>
      <th>Email Utente</th>
      <th>Certificato</th>
      <th>Azioni</th>
    </tr>
  </thead>
  <tbody>
    <% @journalist_requests.each do |request| %>
      <tr>
        <td><%= request.user.email %></td>
        <td><%= link_to 'Visualizza Certificato', rails_blob_path(request.certificate, disposition: "attachment"), target: "_blank" %></td>
        <td>
          <%= form_with(url: approve_journalist_request_path(request), method: :get, local: true) do %>
            <%= submit_tag 'Approva', class: 'btn btn-success' %>
          <% end %>

          <%= form_with(url: reject_journalist_request_path(request), method: :get, local: true) do %>
            <%= submit_tag 'Rifiuta', class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Indietro', root_path, class: 'btn btn-secondary' %>
