<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :email, value: session["devise.facebook_data"]["info"]["email"] %>
  <%= form.hidden_field :id, value: session["devise.facebook_data"]["uid"]  %>
  <%= form.hidden_field :name, value: session["devise.facebook_data"]["info"]["name"] %>
  <%= form.hidden_field :password, value: Devise.friendly_token[0, 20] %>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.number_field :team_id %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up"%>
  </div>

<% end %>
