<style>
  body, table, th, td, tr {
    background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
    color: white !important;
  }


</style>
  
<div class="admin">
  <div id="Navbar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: <%= @team.color %>;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navItems">
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-people-group"></i>
                        <%= active_link_to 'Team', "/teams/#{@team.id}", active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-basketball"></i>
                        <%= active_link_to 'Matches', matches_url(number: 3), active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-newspaper"></i>
                        <%= active_link_to 'News', articles_url, active: :exclusive, class: 'navElement' %>
                    </li>
                    <li>
                        <%= active_link_to(user_dashboard_path) do %>
                        <img id="logoTeamNav" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
                        <% end %>
                    </li>

                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-trophy"></i>
                        <%= active_link_to 'League', '/league', active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-cart-shopping"></i>
                        <%= active_link_to 'Shop', "https://www.nbastore.eu/en/#{@team.name.downcase.gsub(' ', '-')}", active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <%= active_link_to 'Profile', user_path(id: session[:user_id]), active: :exclusive, class: 'navElement' %>  
                    </li>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>

<% if @user.type == "Admin" %>

  <div class="container mt-5" id="releaseList">
    <h1>Users</h1>
    <%= form_with url: admin_dashboard_user_path, method: :get, local: true do |form| %>
      <div class="form-group d-flex align-items-center mb-3">
        <%= form.label :search_users, "Search User:", class: "mr-2" %>
        <%= form.text_field :search_users, value: params[:search_users], class: "form-control mr-2", placeholder: "Enter username"%>
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= form_with url: ban_users_user_path, method: :post, local: true do |form| %>
      <table class="table table-striped table-bordered mt-3">
        <thead>
          <tr>
            <th>Select</th>
            <th>Username</th>
            <th>Type</th>
            <th>Joined</th>
            <th>Articles</th>
            <th>Comments</th>
            <th>Strikes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <% is_banned = user.banned_users.any? { |ban| ban.banned_from <= Time.now && (ban.banned_to.nil? || ban.banned_to >= Time.now) } %>
            <tr class="<%= 'banned-user' if is_banned %>">
              <td>
                <%= check_box_tag 'user_ids[]', user.id, false, disabled: is_banned %>
              </td>
              <td><%= user.name %></td>
              <td><%= is_banned ? 'Banned' : (user.type.present? ? user.type : 'User') %></td>
              <td><%= user.created_at.strftime("%B %d, %Y") %></td>
              <td><%= user.articles.count %></td>
              <td><%= user.comments.count %></td>
              <td><%= user.strikes %></td>
              <td>
                <%= link_to "+", increment_strikes_user_path(user), class: "btn btn-success btn-sm" %>
                <%= link_to "-", decrement_strikes_user_path(user), class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= form.submit 'Ban Users', class: 'btn btn-danger mt-3' %>
    <% end %>
  </div>

  <div class="container mt-5" id="releaseList">
    <h1 class="mb-4">Latest Comments</h1>
    <%= form_with url: admin_dashboard_user_path, method: :get, local: true, class: "mb-4" do |form| %>
      <div class="form-group d-flex align-items-center">
        <%= form.label :search_comments, "Search Author:", class: "mr-2" %>
        <%= form.text_field :search_comments, value: params[:search_comments], class: "form-control mr-2", placeholder: "Enter author name" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_with url: delete_articles_user_path, method: :post, local: true do |form| %>
      <table class="table table-striped table-bordered mt-3">
        <thead class="thead-dark">
          <tr>
            <th>Author</th>
            <th>Content</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.user.name %></td>
              <td><%= truncate(comment.content, length: 100) %></td>
              <td>
              <%= link_to 'Delete Comment', delete_article_comment_path(article_id: comment.article.id, id: comment.id), method: :get, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure you want to delete this comment?' } %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="container mt-5" id="releaseList">
    <h1 class="mb-4">Latest Articles</h1>
    <%= form_with url: admin_dashboard_user_path, method: :get, local: true, class: "mb-4" do |form| %>
      <div class="form-group d-flex align-items-center">
        <%= form.label :search_articles, "Search Author:", class: "mr-2" %>
        <%= form.text_field :search_articles, value: params[:search_articles], class: "form-control mr-2", placeholder: "Enter author name" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_with url: delete_articles_user_path, method: :post, local: true do |form| %>
      <table class="table table-striped table-bordered mt-3">
        <thead class="thead-dark">
          <tr>
            <th>Author</th>
            <th>Article Title</th>
            <th>Content</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.user.name %></td>
              <td><%= article.title %></td>
              <td><%= truncate(article.content, length: 100) %></td>
              <td>
                <%= link_to 'Show', article_path(article), class: "btn btn-primary btn-sm mr-1" %>
                <%= link_to 'Edit', edit_article_path(article), class: "btn btn-warning btn-sm mr-2" %>
                <%= link_to 'Delete', delete_article_path(article), class: "btn btn-danger btn-sm"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>


  <div class="container mt-5" id="releaseList">
    <h1 class="mb-4">Journalist Request</h1>
    <%= form_with url: admin_dashboard_user_path, method: :get, local: true, class: "mb-4" do |form| %>
      <div class="form-group d-flex align-items-center">
        <%= form.label :search_request, "Search Author:", class: "mr-2" %>
        <%= form.text_field :search_request, value: params[:search_request], class: "form-control mr-2", placeholder: "Enter username" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_with url: delete_articles_user_path, method: :post, local: true do |form| %>
      <table class="table table-striped table-bordered mt-3">
        <thead class="thead-dark">
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Strikes</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @journalist_requests.each do |request| %>
            <tr>
              <td><%= request.user.name %></td>
              <td><%= request.user.email%></td>
              <td><%= truncate(request.user.bio, length: 100) %></td>
              <td><%= request.user.strikes %></td>
              <td style="display: flex;">
                <%= form_with(url: approve_journalist_request_path(request), method: :post, local: true) do %>
                  <%= submit_tag 'Approve', class: 'btn btn-success adminButtonActions' %>
                <% end %>
                <%= form_with(url: reject_journalist_request_path(request), method: :delete, local: true) do %>
                  <%= submit_tag 'Reject', class: 'btn btn-danger adminButtonActions' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>



<% else %>

<h1>You are not authorized</h1>

<% end %>
</div>