<style>
  ::-webkit-scrollbar {
      width: 10px;
  }


  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 20px 0 6px <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;
  }
</style>

<div id="profilePage" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">
  <div id="Navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: <%= @current_user_team.color %>;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navItems">
                <li class="nav-item">
                    <i class="nav-icon fa-solid fa-people-group"></i>
                    <%= active_link_to 'Team', "/teams/#{@current_user_team.id}", active: :exclusive, class: 'navElement' %>
                </li>
                <li class="nav-item">
                    <i class="nav-icon fa-solid fa-basketball"></i>
                    <%= active_link_to 'Matches', matches_url(number: 3), active: :exclusive, class: 'navElement' %>
                </li>
                <li class="nav-item">
                    <i class="nav-icon fa-solid fa-newspaper"></i>
                    <%= active_link_to 'News', articles_url, active: :exclusive, class: 'navElement' %>
                </li>
                <li>
                    <%= active_link_to(user_dashboard_path) do %>
                    <img id="logoTeamNav" src="https://cdn.nba.com/logos/nba/<%= @current_user_team.api %>/primary/L/logo.svg" />
                    <% end %>                
                </li>

                <li class="nav-item">
                    <i class="nav-icon fa-solid fa-trophy"></i>
                    <%= active_link_to 'League', '/league', active: :exclusive, class: 'navElement' %>
                </li>
                </li>
                <li class="nav-item">
                    <i class="nav-icon fa-solid fa-cart-shopping"></i>
                    <%= active_link_to 'Shop', "https://www.nbastore.eu/en/#{@current_user_team.name.downcase.gsub(' ', '-')}", active: :exclusive, class: 'navElement' %>
                </li>
                </li>
                <li class="nav-item">
                    <i class="nav-icon fa-solid fa-user"></i>
                    <%= active_link_to 'Profile', user_path(id: session[:user_id]), active: :exclusive, class: 'navElement' %>
                </li>
                </li>
            </ul>
            </div>
        </div>
    </nav>
  </div>

  <div id="profile">
    <div class="container profileSection" style="background-color: <%= @team.color %>;">
      <div class="row">
        <div class="col">
          <div class="container-fluid">
            <div class="row rowBreak" style="align-items: center;">
              <div class="col" style="text-align: center;">
                <div class="profilePic-container">
                  <% if @user.photo.attached? %>
                  <%= image_tag url_for(@user.photo), class: "profilePic" if @user.photo.attached? %>
                  <% else %>
                  <img src= 'https://cdn.nba.com/headshots/nba/latest/1040x760/fallback.png' class="profilePic" />
                  <% end %>
                </div>
              </div>
              <div class="col" style="display: flex;">
                <div class="container genSection">
                  <div class="row" style="margin-bottom: 4vh;">
                    <div class="col" style="padding: 0;">
                      <div class="profileName">
                        <%= @user.name %>
                        <img style="height: 6rem" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
                      </div>
                      <% if @user.type? %>
                      <div class="profileType">
                        <%= @user.type %>  <i class="fa-solid fa-check"></i>
                      </div>
                      <% end %>
                      <div class="profileBio mt-2">
                        <%= @user.bio %>
                      </div>
                      <% if session[:user_id].to_i == @user.id.to_i %>
                      <div class="editProfile">
                        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#editModal">
                          Edit Profile
                        </button>

                        <% if not @user.type? %>
                          <%= link_to 'Become a Journalist', new_journalist_request_path, class: "btn btn-light" %>
                        <% end %>

                        <% if @user.type == 'Admin' %>
                          <%= link_to 'Admin Dashboard', admin_dashboard_user_path, class: "btn btn-light" %>
                        <% end %>


                        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true" >
                          <div class="modal-dialog">
                            <div class="modal-content" style="background-color: <%= @team.color %>;">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <%= render 'form', user: @user %>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>


                      <% end %>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <% if @user.type == "Journalist" %>
  <div id="articleList" class="container mt-5">
    <h1>Articles</h1>
    <div class="container">
      <div class="row" style="justify-content: center;">
        <% if @articles.length < 1 and @user.id == session[:user_id].to_i %>
        <div style="text-align: center;">
          <h3>You have not posted any articles</h3>
          <p>Create one on your <%= link_to 'Dashboard', user_dashboard_url, style: 'color: white;' %></p>
        </div>
        <% elsif @articles.length < 1 %>
        <div style="text-align: center;">
          <h3><%= @user.name %> has not posted any articles</h3>
        </div>        
        <% else %>
        <div class="articleList" >
          
          <% @articles.each do |article| %>
            <div class="card" style="border-radius: 20px; margin-top: 2rem;">
              <div class="card-body" style="background-color: <%= article.team.color %>; border-radius: 20px; padding: 2rem;">
                  
                  <div class="row">
                      <% if article.image.attached? %>
                          <div class="col-4">
                              <%= image_tag article.image, style: "width: 100%; height: 100%; border-radius: 5px;" %>
                          </div>
                      <% else %>
                          <div class="col-4">
                              <%= image_tag 'nbaLogo.jpg', style: "width: 100%; height: 100%; border-radius: 5px;" %>
                          </div>
                      <% end %>
                      <div class="col-8">
                          <div class="row">
                              <div class="col">
                                  <h5 class="card-title"><%= article.title %></h5>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p class="card-text">by <%= link_to article.user.name, user_path(article.user), style: 'color: white;' %></p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col">
                                  <p class="card-text"><%= article.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col fade-bottom" id="articleOwned-<%= article.id %>">
                                  <p class="coolCardText" ><%= article.content %></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <%= link_to 'Read More', article_path(article), class: "btn btn-light mt-4" %>
                      <% if article.user.id == session[:user_id].to_i %>
                          <%= link_to 'Edit', edit_article_path(article), class: "btn btn-light mt-2" %>
                          <%= link_to 'Delete', delete_article_path(article), class: "btn btn-light mt-2" %>
                      <% end %>
                  </div>
                  
              </div>
        </div>

          <% end %>
          
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <% if @user.type == "TeamManager" %>
  <div class="container mt-5" id="releaseList">
    <h1>Releases</h1>
    <% if @releases.length < 1 and @user.id == session[:user_id].to_i %>
      <div style="text-align: center;">
        <h3>You have not posted any releases</h3>
        <p>Create one on your <%= link_to 'Dashboard', user_dashboard_url, style: 'color: white;' %></p>
      </div>
    <% elsif @releases.length < 1 %>
      <div style="text-align: center;">
        <h3><%= @user.name %> has not posted any releases</h3>
      </div>        
    <% else %>
      <% @releases.each do |release| %>
        <div class="card" style="border-radius: 20px; margin-top: 2rem;">
          <div class="card-body" style="background-color: <%= @team.color %>; border-radius: 20px; padding: 2rem;">
              
              <div class="row">
                  <% if release.image.attached? %>
                      <div class="col-4">
                          <%= image_tag release.image, style: "width: 100%; height: 100%; border-radius: 5px;" %>
                      </div>
                  <% else %>
                      <div class="col-4">
                          <%= image_tag 'nbaLogo.jpg', style: "width: 100%; height: 100%; border-radius: 5px;" %>
                      </div>
                  <% end %>
                  <div class="col-8">
                      <div class="row">
                          <div class="col">
                              <h5 class="card-title"><%= release.title %></h5>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <p class="card-text">by <%= link_to release.user.name, user_path(release.user), style: 'color: white;' %></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <p class="card-text"><%= release.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col fade-bottom" id="release-<%= release.id %>">
                              <p class="coolCardText" ><%= release.content %></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <%= link_to 'Read More', release_path(release), class: "btn btn-light mt-4" %>
                  <% if release.user.id == session[:user_id].to_i %>
                      <%= link_to 'Edit', edit_release_path(release), class: "btn btn-light mt-2" %>
                      <%= link_to 'Delete', delete_release_path(release), class: "btn btn-light mt-2" %>
                  <% end %>
              </div>
              
          </div>
        </div>

      <% end %>
    <% end %>
  <% end %>

  <div class="container mt-5">
    <h1>Comments</h1>
    <% if @comments.length < 1 and @user.id == session[:user_id].to_i %>
      <div style="text-align: center;">
        <h3>You have not posted any comments</h3>
        <p>Create one on the <%= link_to 'News', articles_path, style: 'color: white;' %> section</p>
      </div>
    <% elsif @comments.length < 1 %>
      <div style="text-align: center;">
        <h3><%= @user.name %> has not posted any comments</h3>
      </div>        
    <% else %>
    <% @comments.each do |comment| %>
      <div class="card" style="border-radius: 20px; margin-top: 2rem; margin-bottom: 2rem;">
          <div class="card-body" style="background-color: <%= @team.color %>; border-radius: 20px; padding: 2rem;">
            <div class="container">
              <div class="row" style="align-items: center;">
                <div class="col-3">
                  <i class="fa-solid fa-user" style="font-size:2em; margin-right: 0.8vh;"></i>
                  <span class="card-text"><%= link_to comment.user.name, user_path(comment.user), style:"color:white; text-decoration:none; font-size: 1.5rem;" %></span>
                </div>
                <div class="col-2">
                  <span class="card-text"><%= comment.created_at.strftime("%d/%m/%Y") %></span>
                </div>
                <div class="col-4">
                  <span class="card-text"><%= comment.likes.length %></span>
                  <i class="fa-solid fa-heart"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-text" style="margin: 3vh 0 3vh 0"><%= comment.content%></div>
                </div>
              </div>
            </div>
              <div>on <%= link_to comment.article.title, article_path(comment.article), style: 'color: white;' %></div>
          </div>
      </div>

    <% end %>
    <% end %>

  </div>

  <% if @saved_articles %>
    <div id="savedList" class="container mt-5">
      <h1>Saved Articles</h1>
      <% if @saved_articles.length < 1 %>
      <div style="text-align: center;">
        <h3>You have not saved any articles</h3>
        <p>Explore the <%= link_to 'News', articles_path, style: 'color: white;' %> section</p>
      </div>
      <% else %>
      <% @saved_articles.each do |article| %>
        <div class="card" style="border-radius: 20px; margin-top: 2rem;">
          <div class="card-body" style="background-color: <%= article.team.color %>; border-radius: 20px; padding: 2rem;">
              
              <div class="row">
                  <% if article.image.attached? %>
                      <div class="col-4">
                          <%= image_tag article.image, style: "width: 100%; height: 100%; border-radius: 5px;" %>
                      </div>
                  <% else %>
                      <div class="col-4">
                          <%= image_tag 'nbaLogo.jpg', style: "width: 100%; height: 100%; border-radius: 5px;" %>
                      </div>
                  <% end %>
                  <div class="col-8">
                      <div class="row">
                          <div class="col">
                              <h5 class="card-title"><%= article.title %></h5>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <p class="card-text">by <%= link_to article.user.name, user_path(article.user), style: 'color: white;' %></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <p class="card-text"><%= article.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col fade-bottom" id="article-<%= article.id %>">
                              <p class="coolCardText" ><%= article.content %></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <%= link_to 'Read More', article_path(article), class: "btn btn-light mt-4" %>
                  <% if article.user.id == session[:user_id].to_i %>
                      <%= link_to 'Edit', edit_article_path(article), class: "btn btn-light mt-2" %>
                      <%= link_to 'Delete', delete_article_path(article), class: "btn btn-light mt-2" %>
                  <% end %>
              </div>
              
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>


  <% if @saved_comments %>
  <div class="container mt-5">
    <h1>Saved Comments</h1>
    <% if @saved_comments.length < 1 %>
      <div style="text-align: center;">
        <h3>You have not saved any comments</h3>
        <p>Explore the <%= link_to 'News', articles_path, style: 'color: white;' %> section</p>
      </div>       
    <% else %>
    <% @saved_comments.each do |comment| %>
      <div class="card" style="border-radius: 20px; margin-top: 2rem; margin-bottom: 2rem;">
          <div class="card-body" style="background-color: <%= @team.color %>; border-radius: 20px; padding: 2rem;">
            <div class="container">
              <div class="row" style="align-items: center;">
                <div class="col-3">
                  <i class="fa-solid fa-user" style="font-size:2em; margin-right: 0.8vh;"></i>
                  <span class="card-text"><%= link_to comment.user.name, user_path(comment.user), style:"color:white; text-decoration:none; font-size: 1.5rem;" %></span>
                </div>
                <div class="col-2">
                  <span class="card-text"><%= comment.created_at.strftime("%d/%m/%Y") %></span>
                </div>
                <div class="col-4">
                  <span class="card-text"><%= comment.likes.length %></span>
                  <i class="fa-solid fa-heart"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-text" style="margin: 3vh 0 3vh 0"><%= comment.content%></div>
                </div>
              </div>
            </div>
              <div>on <%= link_to comment.article.title, article_path(comment.article), style: 'color: white;' %></div>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const savedArticles = <%= raw @saved_articles.map { |article| { id: article.id, color: article.team.color } }.to_json %>;
        
        savedArticles.forEach(article => {
            const element = document.getElementById(`article-${article.id}`);
            if (element) {
                const gradientDiv = document.createElement('div');
                gradientDiv.style.position = 'absolute';
                gradientDiv.style.top = '0';
                gradientDiv.style.left = '0';
                gradientDiv.style.width = '100%';
                gradientDiv.style.height = '100%';
                gradientDiv.style.background = `linear-gradient(to bottom, ${article.color}00, ${article.color})`;
                gradientDiv.style.pointerEvents = 'none'; // Ensure it doesn't interfere with text selection or clicks
                element.appendChild(gradientDiv);
                element.style.position = 'relative'; // Ensure the parent element is positioned relatively
            }
        });

        <% if @user.type == "TeamManager" %>
          const releases = <%= raw @releases.map { |release| { id: release.id, color: @team.color } }.to_json %>;
          releases.forEach(release => {
              const element = document.getElementById(`release-${release.id}`);
              if (element) {
                  const gradientDiv = document.createElement('div');
                  gradientDiv.style.position = 'absolute';
                  gradientDiv.style.top = '0';
                  gradientDiv.style.left = '0';
                  gradientDiv.style.width = '100%';
                  gradientDiv.style.height = '100%';
                  gradientDiv.style.background = `linear-gradient(to bottom, ${release.color}00, ${release.color})`;
                  gradientDiv.style.pointerEvents = 'none'; // Ensure it doesn't interfere with text selection or clicks
                  element.appendChild(gradientDiv);
                  element.style.position = 'relative'; // Ensure the parent element is positioned relatively
              }
          });
        <% end %>

        <% if @user.type == "Journalist" %>
          const articles = <%= raw @articles.map { |article| { id: article.id, color: article.team.color } }.to_json %>;
          articles.forEach(article => {
              const element = document.getElementById(`articleOwned-${article.id}`);
              if (element) {
                  const gradientDiv = document.createElement('div');
                  gradientDiv.style.position = 'absolute';
                  gradientDiv.style.top = '0';
                  gradientDiv.style.left = '0';
                  gradientDiv.style.width = '100%';
                  gradientDiv.style.height = '100%';
                  gradientDiv.style.background = `linear-gradient(to bottom, ${article.color}00, ${article.color})`;
                  gradientDiv.style.pointerEvents = 'none'; // Ensure it doesn't interfere with text selection or clicks
                  element.appendChild(gradientDiv);
                  element.style.position = 'relative'; // Ensure the parent element is positioned relatively
              }
          });
        <% end %>


        
    });
</script>
