<h2 class="text-center my-4">CIAO BELLI</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">

      <% if notice.present? %>
        <div class="alert alert-info">
          <%= notice %>
        </div>
      <% end %>

      <% if flash[:alert].present? %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="btn-group my-3">
        <%= link_to 'Become a Journalist', become_journalist_path, method: :patch, class: 'btn btn-primary' %>
        <%= link_to 'Become an Admin', become_admin_path, method: :patch, class: 'btn btn-secondary' %>
        <%= link_to 'Become a Team Manager', become_team_manager_path, class: 'btn btn-dark' %>
      </div>

      <%= button_to 'Join Us', new_user_session_path, method: :get, class: 'btn btn-primary' %>

      <!-- Sign Out Button -->
      <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-lg w-100 my-3', aria: { label: 'Sign Out' } %>
    </div>
  </div>
</div>
