<div id="landingPage" >
    <div id="landingPageSection" class="container">
        <div class="row" style="padding-top: 10vh;">
            <div class="col" style="text-align: center;">
                <%= image_tag('logo.png', id: 'imageLogoLanding') %>
            </div>
        </div>
        <div class="row">
            <div class="landingTitle" style="text-align: center;">
                the #1 <span style="color: red;">N</span><span style="color: blue;">B</span>A c<span style="color: orange;">o</span>mmunity
            </div>
        </div>
        <div class="row">
            <div class="col" style="display: flex; justify-content:center;">
                <div id="joinUsButton" class="buttonLanding" style="cursor: pointer;">
                    Join us!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" style="display: flex; justify-content:center;">
                <%= form_tag('/auth/facebook', method: 'post', class: 'my-3') do %>
                    <button class="buttonLanding" style="width: 38vh; margin-top:3vh">
                        Sign in with Facebook!
                    </button>
                <% end %>
            </div>
        </div>
    </div>

    <div id="signUpSection" class="container" style="display: none;" >
        <div class="row">
            <div class="col">
                J<span style="color: orange;">o</span>in the <span style="color: red;">z</span><span style="color: blue;">o</span>ne
            </div>
        </div>
        <div class="row">
            <div class="col">
                <%= form_with url: session_create_path, method: :post do |form| %>
                    <div class="field">
                        <%= form.label :email %>
                        <%= form.email_field :email %>
                    </div>

                    <div class="field">
                        <%= form.label :password %>
                        <%= form.password_field :password %>
                    </div>

                    <div class="actions">
                        <%= form.submit 'Sign In' %>
                    </div>
                <% end %>
            </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const joinUsButton = document.getElementById('joinUsButton');
        const landingPage = document.getElementById('landingPageSection');
        const signUpSection = document.getElementById('signUpSection');

        joinUsButton.addEventListener('click', function() {
            landingPage.classList.add('hide-elements');

            setTimeout(() => {
                landingPage.style.display = 'none';
                signUpSection.style.display = 'block';
            }, 1000); // Match the duration of the transition
        });
    });
</script>

<style>
    .hide-elements {
        transition: opacity 1s ease-in-out;
        opacity: 0;
    }
</style>

<h2 class="text-center my-4">CIAO BELLI</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">

      <% if notice.present? %>
        <div class="alert alert-info">
          <%= notice %>
        </div>
      <% end %>

      <% if flash[:alert].present? %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <div class="btn-group my-3">
        <%= link_to 'Become a Journalist', become_journalist_path, method: :patch, class: 'btn btn-primary' %>
        <%= link_to 'Become an Admin', become_admin_path, method: :patch, class: 'btn btn-secondary' %>
        <%= link_to 'Become a Team Manager', become_team_manager_path, class: 'btn btn-dark' %>
      </div>

      <%= form_with url: session_create_path, method: :post do |form| %>
        <div class="field">
          <%= form.label :email %>
          <%= form.email_field :email %>
        </div>

        <div class="field">
          <%= form.label :password %>
          <%= form.password_field :password %>
        </div>

        <div class="actions">
          <%= form.submit 'Sign In' %>
        </div>
      <% end %>

      <a class="btn btn-primary my-4" style="color: white;" href="/session/new">Sign Up</a>

      <%= form_tag('/auth/facebook', method: 'post', class: 'my-3') do %>
        <button class="btn btn-primary" type="submit">Sign In with Facebook</button>
      <% end %>
      <a class="btn btn-danger my-3" style="color: white;" href="/session/destroy">Sign Out</a>
    </div>
  </div>
</div>









