<div id="landingPage" >

    <style>
        body.index-home {
            background-color: black;
        }
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px white;
        }

        ::-webkit-scrollbar-thumb {
            background-color: black;
        }
    </style>
    <div id="landingPageSection" class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <%= image_tag('logo.png', id: 'imageLogoLanding') %>
            </div>
        </div>
        <div class="row">
            <div class="landingTitle" style="text-align: center;">
                the #1 <span style="color: red;">N</span><span style="color: blue;">B</span>A c<span style="color: orange;">o</span>mmunity
            </div>
        </div>
        <div class="row">
            <div class="col" style="display: flex; justify-content:center;">
                <%= button_to 'Join us', new_user_registration_path, method: :get, class: 'buttonLanding', id: 'joinUsButton', style: 'cursor: pointer;' %>
            </div>
        </div>
        <div class="row">
            <div class="col" style="display: flex; justify-content:center;margin-top: 2vh">
                <%= button_to 'Sign in', new_user_session_path, method: :get, class: 'buttonLanding', id: 'joinUsButton', style: 'cursor: pointer;' %>
            </div>
        </div>
        <div class="row" style="border-bottom: 2px solid; margin: 0 auto; width:30vh">
            <div class="col" style="display: flex; justify-content:center;margin-top: 3vh"></div>
        </div>
        <div class="row">
            <div class="col" style="text-align: right;">
                <%= form_tag('/users/auth/facebook', method: 'post') do %>
                    <button id="facebookButton" class="buttonLanding" style="width: 10vh; margin-top:3vh">
                        <i class="fa-brands fa-facebook"></i>
                    </button>
                <% end %>
            </div>
            <div class="col" style="text-align: left;">
                <%= form_tag('/users/auth/google_oauth2', method: 'post') do %>
                    <button id="googleButton" class="buttonLanding" style="width: 10vh; margin-top:3vh">
                        <i class="fa-brands fa-google"></i>
                    </button>
                <% end %>
            </div>
            <h3 class="text-center my-4" style="color: black;">CIAO BELLI</h3>
        </div>
    </div>

    <div id="signUpSection" class="container" style="display: none;" >
        <div class="row">
            <div class="col">
                J<span style="color: orange;">o</span>in the <span style="color: red;">z</span><span style="color: blue;">o</span>ne
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const joinUsButton = document.getElementById('joinUsButton');
        const landingPage = document.getElementById('landingPageSection');
        const signUpSection = document.getElementById('signUpSection');

        joinUsButton.addEventListener('click', function() {
            landingPage.classList.add('hide-elements');

            setTimeout(() => {
                landingPage.style.display = 'none';
                signUpSection.style.display = 'block';
            }, 1000); // Match the duration of the transition
        });
    });
</script>

<style>
    .hide-elements {
        transition: opacity 1s ease-in-out;
        opacity: 0;
    }
</style>

