<div id="MatchPage" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">
    <div id="Navbar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: <%= @team.color %>;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navItems">
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-people-group"></i>
                        <%= active_link_to 'Team', "/teams/#{@team.id}", active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-basketball"></i>
                        <%= active_link_to 'Matches', matches_url(number: 3), active: :exclusive, class: 'navElement' %>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-newspaper"></i>
                        <%= active_link_to 'News', articles_url, active: :exclusive, class: 'navElement' %>
                    </li>
                    <li>
                        <%= active_link_to(user_dashboard_path) do %>
                        <img id="logoTeamNav" src="https://cdn.nba.com/logos/nba/<%= @team.api %>/primary/L/logo.svg" />
                        <% end %>
                    </li>

                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-trophy"></i>
                        <%= active_link_to 'League', '/league', active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-cart-shopping"></i>
                        <%= active_link_to 'Shop', "https://www.nbastore.eu/en/#{@team.name.downcase.gsub(' ', '-')}", active: :exclusive, class: 'navElement' %>
                    </li>
                    </li>
                    <li class="nav-item">
                        <i class="nav-icon fa-solid fa-user"></i>
                        <%= active_link_to 'Profile', user_path(id: session[:user_id]), active: :exclusive, class: 'navElement' %>  
                    </li>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col" style="justify-content: center; display:flex;">
                <div class="matchSection" style="background-color: <%= @team.color %>;">
                    <div class="container-fluid" style="padding: 0;">
                        <div class="row">
                            <div class="col">
                                <div class="boxTitle">
                                    <span class="sectionTitle">Featured Match</span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="align-items: center;">
                            <div class="col-lg-4">
                                <img class="logoTeamMatches" src="https://cdn.nba.com/logos/nba/<%= @matches_schedule_regular[0][:home_team].api %>/primary/L/logo.svg" />
                                <div class="teamNameMatches"><%= @matches_schedule_regular[0][:home_team].name %></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="matchInfo">
                                    <div class="matchPoints" style="font-size: 3rem;"><%= @matches_schedule_regular[0][:home_points] %> - <%= @matches_schedule_regular[0][:away_points] %></div>
                                    <div class="matchDateTime" style="font-size: 2vh;"><%= @matches_schedule_regular[0][:game_date] %></div>
                                    <%= link_to  match_path(id: @matches_schedule_regular[0][:game_id]), class: "matchLink" do %>
                                    <div class="matchDetails" id="matchDets" style="font-size: 2vh;margin: 2vh auto;width: 15vh;">
                                        Details               
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <img class="logoTeamMatches" src="https://cdn.nba.com/logos/nba/<%= @matches_schedule_regular[0][:away_team].api %>/primary/L/logo.svg" />
                                <div class="teamNameMatches"><%= @matches_schedule_regular[0][:away_team].name %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 10vh;">
        <div class="row">
            <div class="col" style="justify-content: center; display:flex;">
                <div class="matchSection" style="background-color: <%= @team.color %>;">
                    <div class="container-fluid" style="padding: 0;">
                        <div class="row">
                            <div class="col">
                                <div class="boxTitle">
                                    <span class="sectionTitle">Next Matches - <%= @team.name %></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="align-items: center;">
                            <div class="col">
                                <h1 style="margin-top: 3vh;">
                                    Coming soon...
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 10vh;">
        <div class="row">
            <div class="col" style="justify-content: center; display:flex;">
                <div class="matchSection" style="background-color: <%= @team.color %>; padding-bottom: 1vh;">
                    <div class="container-fluid" style="padding: 0;">
                        <div class="row">
                            <div class="col">
                                <div class="boxTitle">
                                    <span class="sectionTitle">Past Matches </span>
                                </div>
                            </div>
                        </div>
                        
                        <% if @n_playoffs != 0 %>

                            <div class="row mt-3 mb-3">
                                <div class="col">
                                    <h3 style="text-align: left;" class="mx-5">Playoffs</h3>
                                </div>
                            </div>

                            <% @playoffs_schedule.each do |game| %>
                                <div class="row" style="padding: 0 3vh; margin: 2vh 0 2vh 0">
                                    <div class="col">
                                        <div class="container">
                                            <div class="row match" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">
                                                <div class="col-4">
                                                    <img style="width:7vh" src="https://cdn.nba.com/logos/nba/<%= game[:home_team].api %>/primary/L/logo.svg" />
                                                    <span style="font-size: 2.5vh;"><%= game[:home_team].name %></span>
                                                </div>
                                                <div class="col-2">
                                                    <span style="justify-content: center; font-size:2.5vh"><%= game[:home_points] %>-<%= game[:away_points] %></span>
                                                    <p style="text-align: center; margin:0;"><%= game[:game_date] %></p>
                                                </div>
                                                <div class="col-4">
                                                    <img style="width:7vh" src="https://cdn.nba.com/logos/nba/<%= game[:away_team].api %>/primary/L/logo.svg" />
                                                    <span style="font-size: 2.5vh;"><%= game[:away_team].name %></span>
                                                </div>
                                                <div class="col-2">
                                                    <%= link_to match_path(id: game[:game_id]) do %>
                                                        <%= image_tag("detailsicon.png") %>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>

                        <% end %>
                            
                        <div class="row mt-3 mb-3 pt-3">
                            <div class="col">
                                <h3 style="text-align: left;" class="mx-5">Regular Season</h3>
                            </div>
                        </div>

                        <% @regular_schedule.each do |game| %>
                            <div class="row" style="padding: 0 3vh; margin: 2vh 0 2vh 0">
                                <div class="col">
                                    <div class="container">
                                        <div class="row match" style="background-color: <%= Color::RGB.by_hex(@team.color.delete('#')).darken_by(80).html %>;">
                                            <div class="col-4">
                                                <img style="width:7vh" src="https://cdn.nba.com/logos/nba/<%= game[:home_team].api %>/primary/L/logo.svg" />
                                                <span style="font-size: 2.5vh;"><%= game[:home_team].name %></span>
                                            </div>
                                            <div class="col-2">
                                                <span style="justify-content: center; font-size:2.5vh"><%= game[:home_points] %>-<%= game[:away_points] %></span>
                                                <p style="text-align: center; margin:0;"><%= game[:game_date] %></p>
                                            </div>
                                            <div class="col-4">
                                                <img style="width:7vh" src="https://cdn.nba.com/logos/nba/<%= game[:away_team].api %>/primary/L/logo.svg" />
                                                <span style="font-size: 2.5vh;"><%= game[:away_team].name %></span>
                                            </div>
                                            <div class="col-2">
                                                <%= link_to match_path(id: game[:game_id]) do %>
                                                    <%= image_tag("detailsicon.png") %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>


                        <div class="row mt-3 mb-3">
                            <div class="col">
                                <%= link_to matches_url(number: (params[:number].to_i + 3) ) do %>
                                        <button id="show-more" class="btn btn-primary mx-5">Show More</button>
                                <% end %>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


