<div class="container">
    <h1>Summary</h1>
    <%= @match_summary %>
    <h1>Officials</h1>
    <%= @match_officials %>
    <h1>Linescore Home</h1>
    <%= @match_linescore_home %>
    <h1>Linescore Away</h1>
    <%= @match_linescore_away %>
    <h1>Match last meeting</h1>
    <%= @match_last_meeting %>
</div>